# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [21]:
import pandas as pd

In [ ]:
### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
chipo

NameError: name 'pd' is not defined

34### Step 4. See the first 10 entries

chipo.head(10)
chipo

### Step 5. What is the number of observations in the dataset?

In [24]:
num_observations = chipo.shape[0]
num_observations

4622

In [25]:
#show info about the data
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [27]:
num_columns = chipo.shape[1]
num_columns

5

### Step 7. Print the name of all the columns.

In [28]:
chipo.columns
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 8. How is the dataset indexed?

In [1]:
chipo.set_index('order_id', inplace=True)
chipo

NameError: name 'chipo' is not defined

### Step 9. Which was the most-ordered item?

In [32]:
most_ordered_item = chipo.groupby('item_name')['quantity'].sum()
most_ordered_item = most_ordered_item.idxmax()
most_ordered_item

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [33]:
quantity_ordered = chipo.loc[chipo['item_name'] == most_ordered_item, 'quantity'].sum()
quantity_ordered

761

### Step 11. What was the most ordered item in the choice_description column?

In [36]:
most_ordered_choice = chipo.groupby('choice_description')['quantity'].sum()
most_ordered_choice = most_ordered_choice.idxmax()
most_ordered_choice

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [38]:
### Step 12. How many items were orderd in total?
total_items_ordered = chipo['quantity'].sum()
total_items_ordered

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [39]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
chipo

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,Izze,[Clementine],3.39
1,1,Nantucket Nectar,[Apple],3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [40]:
item_price_type = chipo['item_price'].dtype
item_price_type

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [42]:
convert_to_float = lambda x: float(x[1:]) if isinstance(x, str) else x
chipo['item_price'] = chipo['item_price'].apply(convert_to_float)
chipo

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,Izze,[Clementine],3.39
1,1,Nantucket Nectar,[Apple],3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

#### Step 13.c. Check the item price type

In [4]:
item_price_type = chipo['item_price'].dtype
item_price_type

NameError: name 'chipo' is not defined

### Step 14. How much was the revenue for the period in the dataset?

In [3]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
revenue

NameError: name 'chipo' is not defined

### Step 15. How many orders were made in the period?

In [4]:
num_orders = chipo['order_id'].nunique()
num_orders

NameError: name 'chipo' is not defined

### Step 16. What is the average revenue amount per order?

In [50]:
average_revenue_per_order = revenue / num_orders
average_revenue_per_order

NameError: name 'num_orders' is not defined

### Step 17. How many different items are sold?

In [52]:
num_items_sold = chipo['item_name'].nunique()
num_items_sold

50